In [52]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [53]:
input_filename = 'naba_data_removed_duplicates.csv'
reg_sig_topic_coef_filename = 'significant_topic_coeffs.csv'
norm_topics_filename = 'norm_topic_count_df.csv'
label_col = 'Recipient'

reg_inputs_filename = 'reg_inputs_df.csv'

p_alpha = 0.1

In [54]:
topics_df = pd.read_csv(norm_topics_filename)
topics_df

,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,...,topic_33,topic_34,topic_35,topic_36,topic_37,topic_38,topic_39,topic_40,topic_41,topic_42
0,0.631579,0.000000,0.052632,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.052632,0.0,0.0,0.0,0.052632,0.0000,0.0,0.0,0.0,0.0
1,0.500000,0.000000,0.000000,0.083333,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.0000,0.0,0.0,0.0,0.0
2,0.454545,0.090909,0.000000,0.090909,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.0000,0.0,0.0,0.0,0.0
3,0.444444,0.000000,0.166667,0.055556,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.0000,0.0,0.0,0.0,0.0
4,0.500000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.033333,...,0.000000,0.0,0.0,0.0,0.033333,0.0000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.652174,0.043478,0.000000,0.000000,0.000000,0.0,0.043478,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.043478,0.0000,0.0,0.0,0.0,0.0
196,0.409091,0.000000,0.045455,0.045455,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.045455,0.0,0.0,0.0,0.045455,0.0000,0.0,0.0,0.0,0.0
197,0.260870,0.086957,0.086957,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.130435,0.0000,0.0,0.0,0.0,0.0
198,0.500000,0.000000,0.000000,0.000000,0.035714,0.0,0.000000,0.035714,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.0000,0.0,0.0,0.0,0.0
199,0.312500,0.062500,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.062500,0.0625,0.0,0.0,0.0,0.0

In [55]:
reg_sig_topic_coef = pd.read_csv(reg_sig_topic_coef_filename)['index']
reg_sig_topic_coef

0     topic_1
1     topic_3
2     topic_9
3    topic_12
4    topic_23
5    topic_36
6    topic_37
Name: index, dtype: object

In [56]:
topics_df = topics_df[reg_sig_topic_coef]
topics_df

      topic_1   topic_3   topic_9  topic_12  topic_23  topic_36  topic_37
0    0.000000  0.000000  0.000000  0.000000       0.0       0.0  0.052632
1    0.000000  0.083333  0.000000  0.000000       0.0       0.0  0.000000
2    0.090909  0.090909  0.000000  0.000000       0.0       0.0  0.000000
3    0.000000  0.055556  0.000000  0.055556       0.0       0.0  0.000000
4    0.000000  0.000000  0.033333  0.000000       0.0       0.0  0.033333
..        ...       ...       ...       ...       ...       ...       ...
195  0.043478  0.000000  0.000000  0.000000       0.0       0.0  0.043478
196  0.000000  0.045455  0.000000  0.000000       0.0       0.0  0.045455
197  0.086957  0.000000  0.000000  0.000000       0.0       0.0  0.130435
198  0.000000  0.000000  0.000000  0.000000       0.0       0.0  0.000000
199  0.062500  0.000000  0.000000  0.000000       0.0       0.0  0.062500

[200 rows x 7 columns]

In [57]:
has_topics_df = topics_df > 0
has_topics_df = has_topics_df.astype(int)
has_topics_df

     topic_1  topic_3  topic_9  topic_12  topic_23  topic_36  topic_37
0          0        0        0         0         0         0         1
1          0        1        0         0         0         0         0
2          1        1        0         0         0         0         0
3          0        1        0         1         0         0         0
4          0        0        1         0         0         0         1
..       ...      ...      ...       ...       ...       ...       ...
195        1        0        0         0         0         0         1
196        0        1        0         0         0         0         1
197        1        0        0         0         0         0         1
198        0        0        0         0         0         0         0
199        1        0        0         0         0         0         1

[200 rows x 7 columns]

In [58]:
preproc_df = pd.read_csv(reg_inputs_filename)
preproc_df

,is_male,clasf_freshman,clasf_graduate student,clasf_junior,clasf_other,clasf_senior,clasf_sophomore,is_accounting_major,is_business_major,is_finance_major,...,is_internship_interested,is_internship_applied,is_job_accept,is_internship_accept,did_cpa_review,major_gpa,overall_gpa,len_of_extra_curr_entry,len_of_honors_entry,len_of_para_entry
0,1,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,-0.171818,-0.286653,-0.712752,-0.494198,0.835078
1,0,1,0,0,0,0,0,0,1,0,...,1,1,0,1,0,0.764447,-0.762381,1.883098,0.963549,-1.919349
2,0,1,0,0,0,0,0,1,0,0,...,1,1,0,0,0,-0.055400,-0.139157,-0.809452,-0.457995,-1.323172
3,0,0,0,0,0,0,1,1,0,0,...,0,1,0,1,0,-0.383338,0.068585,-0.727794,-0.433861,0.462275
4,1,0,0,0,0,0,1,1,0,0,...,1,0,0,0,0,0.764447,0.629487,0.191927,-0.120107,0.976805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,0,1,0,0,0,0,0,1,0,...,0,1,0,1,1,0.108570,-0.049828,-0.207765,0.241916,0.941373
196,0,0,0,1,0,0,0,0,1,0,...,1,1,0,1,0,-0.039003,-0.243028,-0.278678,0.932173,0.184984
197,0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,0,0.124967,0.297101,-0.581670,-0.629353,0.514653
198,0,0,0,1,0,0,0,0,0,1,...,1,1,0,1,0,-0.334147,0.006262,2.486934,3.869388,0.679487
199,0,0,1,0,0,0,0,0,1,0,...,1,1,0,1,0,0.764447,0.899551,1.900289,-0.629353,0.015528

In [59]:
target_col = label_col

In [60]:
target_df = pd.read_csv(input_filename)[[target_col]]

In [61]:
target_df[target_col] = ['No' if type(x) != str else x for x in target_df[target_col]]
target_df[target_col] = target_df[target_col].str.replace('No', '0')
target_df[target_col] = target_df[target_col].str.replace('Yes', '1')
target_df = target_df.astype(int)
target_df.value_counts()

Recipient
1            110
0             90
dtype: int64

In [62]:
target_df

     Recipient
0            0
1            0
2            0
3            0
4            1
..         ...
195          1
196          0
197          0
198          0
199          1

[200 rows x 1 columns]

In [63]:
inputs_df = pd.concat(
    [has_topics_df,
     reg_df,
    ],
    axis=1,
)
inputs_df

,topic_1,topic_3,topic_9,topic_12,topic_23,topic_36,topic_37,is_male,clasf_freshman,clasf_graduate student,...,is_internship_interested,is_internship_applied,is_job_accept,is_internship_accept,did_cpa_review,major_gpa,overall_gpa,len_of_extra_curr_entry,len_of_honors_entry,len_of_para_entry
0,0,0,0,0,0,0,1,1,0,0,...,1,0,0,0,0,-0.171818,-0.286653,-0.712752,-0.494198,0.835078
1,0,1,0,0,0,0,0,0,1,0,...,1,1,0,1,0,0.764447,-0.762381,1.883098,0.963549,-1.919349
2,1,1,0,0,0,0,0,0,1,0,...,1,1,0,0,0,-0.055400,-0.139157,-0.809452,-0.457995,-1.323172
3,0,1,0,1,0,0,0,0,0,0,...,0,1,0,1,0,-0.383338,0.068585,-0.727794,-0.433861,0.462275
4,0,0,1,0,0,0,1,1,0,0,...,1,0,0,0,0,0.764447,0.629487,0.191927,-0.120107,0.976805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,0,0,0,0,0,1,1,0,1,...,0,1,0,1,1,0.108570,-0.049828,-0.207765,0.241916,0.941373
196,0,1,0,0,0,0,1,0,0,0,...,1,1,0,1,0,-0.039003,-0.243028,-0.278678,0.932173,0.184984
197,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0.124967,0.297101,-0.581670,-0.629353,0.514653
198,0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,-0.334147,0.006262,2.486934,3.869388,0.679487
199,1,0,0,0,0,0,1,0,0,1,...,1,1,0,1,0,0.764447,0.899551,1.900289,-0.629353,0.015528

In [64]:
X = sm.add_constant(inputs_df.astype(float))
logit_reg = sm.Logit(
    target_df.astype(float),
    X,
).fit(maxiter=1000, method='bfgs') # bfgs nm
logit_reg.summary()

Optimization terminated successfully.
         Current function value: 0.432847
         Iterations: 184
         Function evaluations: 185
         Gradient evaluations: 185

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Recipient   No. Observations:                  200
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                           33
Date:                Sun, 12 Feb 2023   Pseudo R-squ.:                  0.3710
Time:                        21:49:01   Log-Likelihood:                -86.569
converged:                       True   LL-Null:                       -137.63
Covariance Type:            nonrobust   LLR p-value:                 5.467e-09
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        0.2725   4.16e+06   6.55e-08      1.000   -8.15e+06    8.15e+06
topic_1                      0.7221      0.466      1.549      0.121      -0.191       1.636
topic_3                     -0.6908      0.606     -1.140      0.254      -1.879       0.497
topic_9                      1.5930      0.717      2.223      0.026       0.188       2.998
topic_12                    -1.7923      0.850     -2.110      0.035      -3.458      -0.127
topic_23                    -1.3026      0.804     -1.619      0.105      -2.879       0.274
topic_36                     0.7871      1.174      0.670      0.503      -1.514       3.088
topic_37                    -0.6116      0.446     -1.373      0.170      -1.485       0.262
is_male                      0.5550      0.469      1.183      0.237      -0.365       1.474
clasf_freshman              -4.2842   4.16e+06  -1.03e-06      1.000   -8.15e+06    8.15e+06
clasf_graduate student      -3.4122   4.16e+06   -8.2e-07      1.000   -8.15e+06    8.15e+06
clasf_junior                -3.9614   4.16e+06  -9.52e-07      1.000   -8.15e+06    8.15e+06
clasf_other                 17.4927   4.16e+06    4.2e-06      1.000   -8.15e+06    8.15e+06
clasf_senior                -2.9684   4.16e+06  -7.14e-07      1.000   -8.15e+06    8.15e+06
clasf_sophomore             -2.5940   4.16e+06  -6.24e-07      1.000   -8.15e+06    8.15e+06
is_accounting_major          2.0904      0.641      3.262      0.001       0.835       3.346
is_business_major            0.2446      0.618      0.396      0.692      -0.967       1.457
is_finance_major             3.5745      0.877      4.076      0.000       1.856       5.293
has_major_2                 -0.1006      0.516     -0.195      0.845      -1.112       0.911
is_accounting_major_2        0.8402      1.107      0.759      0.448      -1.329       3.010
is_business_major_2         -1.4265      0.749     -1.904      0.057      -2.895       0.042
is_finance_major_2          -0.2006      0.839     -0.239      0.811      -1.844       1.443
is_cur_lead                  1.7429      0.476      3.660      0.000       0.810       2.676
is_past_lead                 0.4597      0.526      0.874      0.382      -0.571       1.491
did_ACAP                     1.3526      0.835      1.619      0.105      -0.285       2.990
is_internship_interested     0.0720      0.509      0.141      0.888      -0.926       1.070
is_internship_applied       -0.1479      0.592     -0.250      0.803      -1.308       1.013
is_job_accept               -0.4582      0.867     -0.529      0.597      -2.157       1.240
is_internship_accept         1.1894      0.658      1.809      0.070      -0.099       2.478
did_cpa_review              -0.3319      0.992     -0.334      0.738      -2.277       1.613
major_gpa                    0.0814      0.274      0.297      0.766      -0.456       0.619
overall_gpa                  0.7959      0.386      2.060      0.039       0.039       1.553
len_of_extra_curr_entry     -0.2713      0.249     -1.090      0.276      -0.759       0.217
len_of_honors_entry          0.4720      0.266      1.774      0.076      -0.049       0.994
len_of_para_entry           -0.0612      0.224     -0.274      0.784      -0.499       0.377
============================================================================================
"""

In [65]:
print(f"variables with statistical significance with alpha of {p_alpha} (p-values less than this):")
significant_var_coeffs = logit_reg.params[logit_reg.pvalues < p_alpha]
significant_var_coeffs

variables with statistical significance with alpha of 0.1 (p-values less than this):

topic_9                 1.592952
topic_12               -1.792281
is_accounting_major     2.090389
is_finance_major        3.574468
is_business_major_2    -1.426452
is_cur_lead             1.742874
is_internship_accept    1.189439
overall_gpa             0.795863
len_of_honors_entry     0.472018
dtype: float64

In [66]:
print(f"ODDS RATIOS of variables with statistical significance with alpha of {p_alpha} (p-values less than this):")
significant_var_odds_ratios = np.exp(significant_var_coeffs).sort_values()
significant_var_odds_ratios

ODDS RATIOS of variables with statistical significance with alpha of 0.1 (p-values less than this):

topic_12                 0.166580
is_business_major_2      0.240159
len_of_honors_entry      1.603226
overall_gpa              2.216353
is_internship_accept     3.285237
topic_9                  4.918246
is_cur_lead              5.713741
is_accounting_major      8.088059
is_finance_major        35.675639
dtype: float64

In [67]:
print("variables with negative effects and their odds ratios:")
significant_var_odds_ratios[significant_var_odds_ratios < 1 ]

variables with negative effects and their odds ratios:

topic_12               0.166580
is_business_major_2    0.240159
dtype: float64

In [68]:
print("variables with positive effects and their odds ratios:")
significant_var_odds_ratios[significant_var_odds_ratios > 1 ]

variables with positive effects and their odds ratios:

len_of_honors_entry      1.603226
overall_gpa              2.216353
is_internship_accept     3.285237
topic_9                  4.918246
is_cur_lead              5.713741
is_accounting_major      8.088059
is_finance_major        35.675639
dtype: float64